// colors
$primary: #2563eb;
$primary-hover: #1d4ed8;

$text-color: #1f2937;
$background: #f3f4f6;

$border: #d1d5db;
$error: #dc2626;

// spacing / layout
$radius: 10px;
$shadow: 0 10px 25px rgba(0, 0, 0, 0.08);